/* Site's globals
   ========================================================================== */
.wrapper {
  font-family: sans-serif;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.divider {
  border: 0;
  border-top: 1px solid black;
}

.section {
  margin: 100px 0;
}

/* Site's navbar
   ========================================================================== */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.navbar a {
  text-decoration: none;
}

.horizontal-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.horizontal-menu-item {
  text-transform: lowercase;
}
.horizontal-menu a {
  margin-left: 20px;
}

.highlight {
  padding: 20px;
  margin: 20px 0 0 0;
  border: 1px solid black;
  color: grey;
  overflow: auto;
}
.highlight pre {
  margin: 0;
}
.highlight .nt,
.highlight .na,
.highlight .s {
  color: black;
}
.highlight .s {
  font-weight: bold;
}
