.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;

  &-item {
    border-bottom: 1px solid black;
    padding: 5px 0;
    position: relative;
  }

  &-header {
    display: flex;
    align-items: center;
  }

  &-content {
    display: none;
    padding-left: 40px;
  }

  &-icon {
    @extend %icon-plus;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }

  &-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }

  &-trigger:checked ~ .accordion-content {
    display: block;
  }

  &-trigger:checked ~ .accordion-header .accordion-icon {
    @extend %icon-minus;
  }
}
