.nav,
%nav {
  margin-top: 15px;

  > ul {
    @include breakpoint {
      display: flex;
    }
  }

  ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  }

  ul a {
  	display: block;
  	text-decoration: none;
  	line-height: 32px;
  	padding: 0 15px;
    white-space: nowrap;
  }

  ul li {
  	position: relative;
  	margin: 0;
  	padding: 0
  }

  li.active {

  }

  ul li:hover {
  	background:#f6f6f6
  }

  ul ul {
  	display: none;
  	background: #fff;
  	padding-left: 10px;

    @include breakpoint {
      position: absolute;
    	top: 100%;
    	left: 0;
      padding: 0;
    }
  }

  ul ul a {
  	line-height: 120%;
  	padding: 10px 15px
  }

   ul ul ul {
     top: 0;
     left: 100%
   }

   ul li:hover > ul {
   	display: block
   }
}

.has-dropdown {

  .dropdown-icon {
    @extend %icon-arrow-down;
  }

  &:hover > a .dropdown-icon {
    @extend %icon-arrow-up;
  }
}
