---
layout: default
---
<h1>jsless pattern library</h1>
<a class="{{ site.namespace }}button" href="https://github.com/harrypujols/jsless/archive/0.2.zip">
  Download
</a>

<section class="section">
  <h2>Dropdown *</h2>
  {% include dropdown.html %}
</section>

<section class="section">
  <h2>Modal</h2>
  {% include modal.html %}
</section>

<section class="section">
  <h2>Accordion *</h2>
  {% include accordion.html %}
</section>

<section class="section">
  <h2>Dropdown Menu</h2>
  {% include dropdown-menu.html %}
</section>

<section class="section">
  <h2>Responsive Table</h2>
  {% include table.html %}
</section>

<section class="section">
  <h2>Carousel *</h2>
  {% include carousel.html %}
</section>

<section class="section">
  <h2>Tabs *</h2>
  {% include tabs.html %}
</section>
<p>
  <small><b>*</b>Not accessible (yet)</small>
</p>
