<ul class="{{ site.namespace }}accordion">
  <li class="{{ site.namespace }}accordion-item">
    <input role="presentation" type="checkbox" class="{{ site.namespace }}accordion-trigger">
    <label role="button" class="{{ site.namespace }}accordion-title">
      <span class="{{ site.namespace }}accordion-icon"></span>
      Accordion title
    </label>
    <div class="{{ site.namespace }}accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
  <li class="{{ site.namespace }}accordion-item">
    <input role="presentation" type="checkbox" class="{{ site.namespace }}accordion-trigger">
    <label role="button" class="{{ site.namespace }}accordion-title">
      <span class="{{ site.namespace }}accordion-icon"></span>
      Accordion title
    </label>
    <div class="{{ site.namespace }}accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
</ul>


{% highlight html %}
<ul class="{{ site.namespace }}accordion">
  <li class="{{ site.namespace }}accordion-item">
    <input role="presentation" type="checkbox" class="{{ site.namespace }}accordion-trigger">
    <label role="button" class="{{ site.namespace }}accordion-title">
      <span class="{{ site.namespace }}accordion-icon"></span>
      Accordion title
    </label>
    <div class="{{ site.namespace }}accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
  <li class="{{ site.namespace }}accordion-item">
    <input role="presentation" type="checkbox" class="{{ site.namespace }}accordion-trigger">
    <label role="button" class="{{ site.namespace }}accordion-title">
      <span class="{{ site.namespace }}accordion-icon"></span>
      Accordion title
    </label>
    <div class="{{ site.namespace }}accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
</ul>
{% endhighlight %}
