<ul class="accordion">
  <li class="accordion-item">
    <input role="presentation" type="checkbox" class="accordion-trigger">
    <label role="button" class="accordion-title"><span class="accordion-icon"></span>Accordion title</label>
    <div class="accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
  <li class="accordion-item">
    <input role="presentation" type="checkbox" class="accordion-trigger">
    <label role="button" class="accordion-title"><span class="accordion-icon"></span>Accordion title</label>
    <div class="accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
</ul>


{% highlight html %}
<ul class="accordion">
  <li class="accordion-item">
    <input role="presentation" type="checkbox" class="accordion-trigger">
    <label role="button" class="accordion-title">
      <span class="accordion-icon"></span>
      Accordion title
    </label>
    <div class="accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
  <li class="accordion-item">
    <input role="presentation" type="checkbox" class="accordion-trigger">
    <label role="button" class="accordion-title">
      <span class="accordion-icon"></span>
      Accordion title
    </label>
    <div class="accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
</ul>
{% endhighlight %}
