<div class="{{ site.namespace }}dropdown">
  <input role="presentation" type="checkbox" class="{{ site.namespace }}dropdown-trigger">
  <label class="{{ site.namespace }}dropdown-title">
    Basic Dropdown<span class="{{ site.namespace }}dropdown-icon"></span>
  </label>
  <div class="{{ site.namespace }}dropdown-content">
    <p>Basic lorem ipsum dolor sit amet stuff.</p>
  </div>
</div>

{% highlight html %}
<div class="{{ site.namespace }}dropdown">
  <input role="presentation" type="checkbox" class="{{ site.namespace }}dropdown-trigger">
  <label class="{{ site.namespace }}dropdown-title">
    Basic Dropdown<span class="{{ site.namespace }}dropdown-icon"></span>
  </label>
  <div class="{{ site.namespace }}dropdown-content">
    <p>Basic lorem ipsum dolor sit amet stuff.</p>
  </div>
</div>
{% endhighlight %}
