<div class="dropdown">
  <input role="presentation" type="checkbox" class="dropdown-trigger">
  <label class="dropdown-title">
    Basic Dropdown<span class="dropdown-icon"></span>
  </label>
  <div class="dropdown-content">
    <p>Basic lorem ipsum dolor sit amet stuff.</p>
  </div>
</div>

{% highlight html %}
<div class="dropdown">
  <input role="presentation" type="checkbox" class="dropdown-trigger">
  <label class="dropdown-title">
    Basic Dropdown<span class="dropdown-icon"></span>
  </label>
  <div class="dropdown-content">
    <p>Basic lorem ipsum dolor sit amet stuff.</p>
  </div>
</div>
{% endhighlight %}
