<div class="modal">
  <div class="modal-overlay" id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close"></a>
      </div>
      <div class="modal-body">
        <p>This is a modal. Woo.</p>
        <a href="#" class="modal-trigger button">Close</a>
      </div>
    </div>
  </div>
</div>

<a href="#modal" class="modal-trigger button">Activate Modal</a>


{% highlight html %}
<div class="modal">
  <div class="modal-overlay" id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close"></a>
      </div>
      <div class="modal-body">
        <p>This is a modal. Woo.</p>
        <a href="#" class="modal-trigger button">Close</a>
      </div>
    </div>
  </div>
</div>
{% endhighlight %}
