<table class="{{ site.namespace }}table {{ site.namespace }}responsive-table">
  <thead>
    <tr>
      <th>Item 1</th>
      <th>Item 2</th>
      <th>Item 3</th>
      <th>Item 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title="Item 1">Foo</td>
      <td data-title="Item 2">Bar</td>
      <td data-title="Item 3">Zazs</td>
      <td data-title="Item 4">Buzz</td>
    </tr>
  </tbody>
</table>

{% highlight html %}
<table class="{{ site.namespace }}table {{ site.namespace }}responsive-table">
  <thead>
    <tr>
      <th>Item 1</th>
      <th>Item 2</th>
      <th>Item 3</th>
      <th>Item 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title="Item 1">Foo</td>
      <td data-title="Item 2">Bar</td>
      <td data-title="Item 3">Zazs</td>
      <td data-title="Item 4">Buzz</td>
    </tr>
  </tbody>
</table>
{% endhighlight %}
