<div role="tablist" class="{{ site.namespace }}tabs {{ site.namespace }}tabs-four">
  <div role="tab" aria-controls="tab1" class="{{ site.namespace }}tabs-item">
    <input role="presentation" type="radio" id="tab1" name="tab" class="{{ site.namespace }}tabs-trigger" checked>
    <label role="button"  for="tab1" class="{{ site.namespace }}tabs-label">Tab 1</label>
    <div role="tabpanel" class="{{ site.namespace }}tabs-content">
      Lorem ipsum dolor sit amet stuff for tab 1 goes around here.
    </div>
  </div>

  <div role="tab" aria-controls="tab2" class="{{ site.namespace }}tabs-item">
      <input role="presentation" type="radio" id="tab2" name="tab" class="{{ site.namespace }}tabs-trigger">
      <label role="button"  for="tab2" class="{{ site.namespace }}tabs-label">Tab 2</label>
      <div role="tabpanel" class="{{ site.namespace }}tabs-content">
        Another lorem ipsum dolor sit amet stuff over here for tab 2.
      </div>
  </div>

  <div role="tab" aria-controls="tab3" class="{{ site.namespace }}tabs-item">
      <input role="presentation" type="radio" id="tab3" name="tab" class="{{ site.namespace }}tabs-trigger">
      <label role="button" for="tab3" class="{{ site.namespace }}tabs-label">Tab 3</label>
      <div role="tabpanel" class="{{ site.namespace }}tabs-content">
        For the third tab, we'll do another lorem ipsum dolor sit amet.
      </div>
  </div>

  <div role="tab" aria-controls="tab4" class="{{ site.namespace }}tabs-item">
      <input role="presentation" type="radio" id="tab4" name="tab" class="{{ site.namespace }}tabs-trigger">
      <label role="button" for="tab4" class="{{ site.namespace }}tabs-label">Tab 4</label>
      <div role="tabpanel" class="{{ site.namespace }}tabs-content">
        And the last tab here will have more lorem ipsum dolor sit amet.
      </div>
  </div>
</div>

{% highlight html %}
<div role="tablist" class="{{ site.namespace }}tabs {{ site.namespace }}tabs-four">
  <div role="tab" aria-controls="tab1" class="{{ site.namespace }}tabs-item">
    <input role="presentation" type="radio" id="tab1" name="tab" class="{{ site.namespace }}tabs-trigger" checked>
    <label role="button"  for="tab1" class="{{ site.namespace }}tabs-label">Tab 1</label>
    <div role="tabpanel" class="{{ site.namespace }}tabs-content">
      Lorem ipsum dolor sit amet stuff for tab 1 goes around here.
    </div>
  </div>

  <div role="tab" aria-controls="tab2" class="{{ site.namespace }}tabs-item">
      <input role="presentation" type="radio" id="tab2" name="tab" class="{{ site.namespace }}tabs-trigger">
      <label role="button"  for="tab2" class="{{ site.namespace }}tabs-label">Tab 2</label>
      <div role="tabpanel" class="{{ site.namespace }}tabs-content">
        Another lorem ipsum dolor sit amet stuff over here for tab 2.
      </div>
  </div>

  <div role="tab" aria-controls="tab3" class="{{ site.namespace }}tabs-item">
      <input role="presentation" type="radio" id="tab3" name="tab" class="{{ site.namespace }}tabs-trigger">
      <label role="button" for="tab3" class="{{ site.namespace }}tabs-label">Tab 3</label>
      <div role="tabpanel" class="{{ site.namespace }}tabs-content">
        For the third tab, we'll do another lorem ipsum dolor sit amet.
      </div>
  </div>

  <div role="tab" aria-controls="tab4" class="{{ site.namespace }}tabs-item">
      <input role="presentation" type="radio" id="tab4" name="tab" class="{{ site.namespace }}tabs-trigger">
      <label role="button" for="tab4" class="{{ site.namespace }}tabs-label">Tab 4</label>
      <div role="tabpanel" class="{{ site.namespace }}tabs-content">
        And the last tab here will have more lorem ipsum dolor sit amet.
      </div>
  </div>
</div>
{% endhighlight %}
