/* Carousel
   ========================================================================== */

.carousel,
%carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-inner {
    flex-grow: 1;
    text-align: center;
  }

  &-content {
    display: none;
    width: 100%;
  }

  &-button {
    cursor: pointer;
  }

  &-trigger:checked {
    ~ .carousel-content {
      display: block;
    }
  }

  .icon-arrow-left,
  .icon-arrow-right {
    width: 20px;
    height: 20px;

    &:after {
      width: 10px;
      height: 10px;
    }
  }
}
