/* Icons
   ========================================================================== */

%icon-base {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 1px solid black;
  }
}

.#{$namespace}icon-minus,
%icon-minus {
  @extend %icon-base;
  transform: rotate(0);

  &:before {
    transform: rotate(0);
  }

  &:after {
    transform: rotate(0);
  }
}

.#{$namespace}icon-x,
%icon-x {
  @extend %icon-base;

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.#{$namespace}icon-plus,
%icon-plus {
  @extend %icon-x;
  transform: rotate(45deg);
}


.#{$namespace}icon-arrow-left,
%icon-arrow-left {
  @extend %icon-x;

  &:before {
    display: none;
  }

  &:after {
    width: 5px;
    height: 5px;
    top: 2.5px;
    border-left: 1px solid black;
  }
}

.#{$namespace}icon-arrow-right,
%icon-arrow-right {
  @extend %icon-arrow-left;
  transform: rotate(180deg)
}

.#{$namespace}icon-arrow-up,
%icon-arrow-up {
  @extend %icon-base;

  &:before {
    display: none;
  }

  &:after {
    top: 0;
    width: 5px;
    height: 5px;
    border-left: 1px solid black;
    transform: rotate(45deg);
  }
}

.#{$namespace}icon-arrow-down,
%icon-arrow-down {
  @extend %icon-arrow-up;
  &:after {
    top: auto;
    bottom: 50%;
    transform: rotate(225deg)
  }
}
