/* Modal
   ========================================================================== */

.modal,
%modal {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    display: none;
  }

  &-content {
    width: $breakpoint;
    max-width: calc(100% - 40px);
    min-height: 25vh;
    max-height: 90vh;
    overflow-y: auto;
    background-color: white;
    box-sizing: border-box;
    padding-bottom: 20px;
  }

  &-header {
    text-align: right;
    padding: 10px;
  }

  &-close {
    @extend %icon-x;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:before,
    &:after {
      left: 0;
    }
  }

  &-body {
    padding: 0 20px;
  }

  &-trigger {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border: 1px solid black;
  }

  :target {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
