/* Site's navbar
   ========================================================================== */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  a {
    text-decoration: none;
  }
}

.horizontal-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &-item {
    text-transform: lowercase;
  }
}
