/* Tabs
   ========================================================================== */

.#{$namespace}tabs,
%tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &-item {
    min-height: 180px;
  }

  &-content {
    display: none;
    position: absolute;
    left: 0;
    height: 100px;
    overflow-y: auto;
  }

  &-label {
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }

  &-content,
  &-label {
    padding: 10px 20px;
  }

  &-trigger {
    position: absolute;
    height: 39px;
    opacity: 0;

    &:checked {
      ~ .#{$namespace}tabs-content {
        display: block;
      }

      ~ .#{$namespace}tabs-label {
        font-weight: bold;
        border: 1px solid black;
        border-bottom: 0;
      }
    }
  }
}

.#{$namespace}tabs-two {
  .#{$namespace}tabs-item,
  .#{$namespace}tabs-trigger {
    width: (100% / 2);
  }
}

.#{$namespace}tabs-three {
  .#{$namespace}tabs-item,
  .#{$namespace}tabs-trigger {
    width: (100% / 3);
  }
}

.#{$namespace}tabs-four {
  .#{$namespace}tabs-item,
  .#{$namespace}tabs-trigger {
    width: (100% / 4);
  }
}
