.table,
%table {
    table-layout: fixed;
    width: 100%;

    th {
      text-align: left;
    }
}

.responsive-table,
%responsive-table {
  @media (max-width: $breakpoint) {
    tr, th, td {
      display: block;
    }

    thead {
      display: none;
    }

    [data-title]:before {
      content: attr(data-title);
      display: inline-block;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
  }
}
