/* Tabs
   ========================================================================== */

.tabs,
%tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &-item {
    height: 280px;
  }

  &-content {
    display: none;
    position: absolute;
    left: 0;
    height: 200px;
    overflow-y: auto;
  }

  &-label {
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }

  &-content,
  &-label {
    padding: 10px 20px;
  }
}

[name=tab] {
  position: absolute;
  height: 39px;
  opacity: 0;

  &:checked {
    ~ .tabs-content {
      display: block;
    }

    ~ .tabs-label {
      font-weight: bold;
      border: 1px solid black;
      border-bottom: 0;
    }
  }
}

.tabs-two {
  .tabs-item,
  .tabs-trigger {
    width: (100% / 2);
  }
}

.tabs-three {
  .tabs-item,
  .tabs-trigger {
    width: (100% / 3);
  }
}

.tabs-four {
  .tabs-item,
  .tabs-trigger {
    width: (100% / 4);
  }
}
