/* Button
   ========================================================================== */

.button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  border: 1px solid black;
}
