<ul class="accordion">
  <li class="accordion-item">
    <input type="checkbox" class="accordion-trigger">
    <div class="accordion-header">
      <span class="accordion-icon"></span>
      <h4 class="accordion-title">Accordion title</h4>
    </div>
    <div class="accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
  <li class="accordion-item">
    <input type="checkbox" class="accordion-trigger">
    <div class="accordion-header">
      <span class="accordion-icon"></span>
      <h4 class="accordion-title">Accordion title</h4>
    </div>
    <div class="accordion-content">
      <p>Some lorem ipsum dolor sit amet here.</p>
    </div>
  </li>
</ul>
