<nav class="nav">
<ul>
  <li class="active"><a href="#">Home</a></li>
  <li class="has-dropdown"><a href="#">Menu 1 <span class="dropdown-icon"></span></a>
    <ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
      <li class="has-dropdown"><a href="#">Sub Menu 4 <span class="dropdown-icon"></span></a>
        <ul>
          <li class="has-dropdown"><a href="#">Deep Menu 1 <span class="dropdown-icon"></span></a>
            <ul>
              <li><a href="#">Sub Deep 1</a></li>
              <li><a href="#">Sub Deep 2</a></li>
              <li><a href="#">Sub Deep 3</a></li>
              <li><a href="#">Sub Deep 4</a></li>
            </ul>
          </li>
          <li><a href="#">Deep Menu 2</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu 5</a></li>
    </ul>
  </li>
  <li class="has-dropdown"><a href="#">Menu 2 <span class="dropdown-icon"></span></a>
    <ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 3</a></li>
</ul>
</nav>
