<div class="tabs">
  <div class="tabs-item">
    <input type="radio" id="tab1" name="tab" class="tabs-trigger" checked>
    <label for="tab1" class="tabs-label">Tab 1</label>
    <div class="tabs-content">
      Lorem ipsum dolor sit amet stuff for tab 1 goes around here.
    </div>
  </div>

  <div class="tabs-item">
      <input type="radio" id="tab2" name="tab" class="tabs-trigger">
      <label for="tab2" class="tabs-label">Tab 2</label>
      <div class="tabs-content">
        Another lorem ipsum dolor sit amet stuff over here for tab 2.
      </div>
  </div>

  <div class="tabs-item">
      <input type="radio" id="tab3" name="tab" class="tabs-trigger">
      <label for="tab3" class="tabs-label">Tab 3</label>
      <div class="tabs-content">
        For the third tab, we'll do another lorem ipsum dolor sit amet.
      </div>
  </div>

  <div class="tabs-item">
      <input type="radio" id="tab4" name="tab" class="tabs-trigger">
      <label for="tab4" class="tabs-label">Tab 4</label>
      <div class="tabs-content">
        And the last tab here will have more lorem ipsum dolor sit amet.
      </div>
  </div>
</div>
