/* Icons
   ========================================================================== */
.jsless-icon-minus,
.jsless-accordion-trigger:checked ~ .jsless-accordion-title .accordion-icon, .jsless-icon-x,
.jsless-icon-plus,
.jsless-accordion-icon,
.jsless-icon-arrow-left,
.jsless-icon-arrow-right,
.jsless-modal-close, .jsless-icon-arrow-up,
.jsless-icon-arrow-down,
.jsless-dropdown-icon,
.has-dropdown .jsless-dropdown-icon,
.jsless-dropdown-trigger:checked ~ .jsless-dropdown-title .jsless-dropdown-icon,
.has-dropdown:hover > a .jsless-dropdown-icon {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
}
.jsless-icon-minus:before,
.jsless-accordion-trigger:checked ~ .jsless-accordion-title .accordion-icon:before, .jsless-icon-x:before,
.jsless-icon-plus:before,
.jsless-accordion-icon:before,
.jsless-icon-arrow-left:before,
.jsless-icon-arrow-right:before,
.jsless-modal-close:before, .jsless-icon-arrow-up:before,
.jsless-icon-arrow-down:before,
.jsless-dropdown-icon:before,
.has-dropdown .jsless-dropdown-icon:before,
.jsless-dropdown-trigger:checked ~ .jsless-dropdown-title .jsless-dropdown-icon:before,
.has-dropdown:hover > a .jsless-dropdown-icon:before, .jsless-icon-minus:after,
.jsless-accordion-trigger:checked ~ .jsless-accordion-title .accordion-icon:after, .jsless-icon-x:after,
.jsless-icon-plus:after,
.jsless-accordion-icon:after,
.jsless-icon-arrow-left:after,
.jsless-icon-arrow-right:after,
.jsless-modal-close:after, .jsless-icon-arrow-up:after,
.jsless-icon-arrow-down:after,
.jsless-dropdown-icon:after,
.has-dropdown .jsless-dropdown-icon:after,
.jsless-dropdown-trigger:checked ~ .jsless-dropdown-title .jsless-dropdown-icon:after,
.has-dropdown:hover > a .jsless-dropdown-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  border-top: 1px solid black;
}

.jsless-icon-minus,
.jsless-accordion-trigger:checked ~ .jsless-accordion-title .accordion-icon {
  transform: rotate(0);
}
.jsless-icon-minus:before,
.jsless-accordion-trigger:checked ~ .jsless-accordion-title .accordion-icon:before {
  transform: rotate(0);
}
.jsless-icon-minus:after,
.jsless-accordion-trigger:checked ~ .jsless-accordion-title .accordion-icon:after {
  transform: rotate(0);
}

.jsless-icon-x:before,
.jsless-icon-plus:before,
.jsless-accordion-icon:before,
.jsless-icon-arrow-left:before,
.jsless-icon-arrow-right:before,
.jsless-modal-close:before {
  transform: rotate(45deg);
}
.jsless-icon-x:after,
.jsless-icon-plus:after,
.jsless-accordion-icon:after,
.jsless-icon-arrow-left:after,
.jsless-icon-arrow-right:after,
.jsless-modal-close:after {
  transform: rotate(-45deg);
}

.jsless-icon-plus,
.jsless-accordion-icon {
  transform: rotate(45deg);
}

.jsless-icon-arrow-left:before,
.jsless-icon-arrow-right:before {
  display: none;
}
.jsless-icon-arrow-left:after,
.jsless-icon-arrow-right:after {
  width: 5px;
  height: 5px;
  top: 2.5px;
  border-left: 1px solid black;
}

.jsless-icon-arrow-right {
  transform: rotate(180deg);
}

.jsless-icon-arrow-up:before,
.jsless-icon-arrow-down:before,
.jsless-dropdown-icon:before,
.has-dropdown .jsless-dropdown-icon:before,
.jsless-dropdown-trigger:checked ~ .jsless-dropdown-title .jsless-dropdown-icon:before,
.has-dropdown:hover > a .jsless-dropdown-icon:before {
  display: none;
}
.jsless-icon-arrow-up:after,
.jsless-icon-arrow-down:after,
.jsless-dropdown-icon:after,
.has-dropdown .jsless-dropdown-icon:after,
.jsless-dropdown-trigger:checked ~ .jsless-dropdown-title .jsless-dropdown-icon:after,
.has-dropdown:hover > a .jsless-dropdown-icon:after {
  top: 0;
  width: 5px;
  height: 5px;
  border-left: 1px solid black;
  transform: rotate(45deg);
}

.jsless-icon-arrow-down:after,
.jsless-dropdown-icon:after,
.has-dropdown .jsless-dropdown-icon:after {
  top: auto;
  bottom: 50%;
  transform: rotate(225deg);
}

/* Button
   ========================================================================== */
.jsless-button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  border: 1px solid black;
}

/* Accordion
   ========================================================================== */
.jsless-accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
}
.jsless-accordion-item {
  border-bottom: 1px solid black;
  padding: 10px 0;
  position: relative;
}
.jsless-accordion-content {
  display: none;
  padding-left: 30px;
}
.jsless-accordion-icon {
  margin-right: 20px;
}
.jsless-accordion-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.jsless-accordion-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.jsless-accordion-trigger:checked ~ .jsless-accordion-content {
  display: block;
}

/* Dropdown
   ========================================================================== */
.jsless-dropdown {
  position: relative;
}
.jsless-dropdown-trigger {
  position: absolute;
  width: 100%;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.jsless-dropdown-content {
  display: none;
}
.jsless-dropdown-title {
  font-weight: bold;
}
.jsless-dropdown-icon {
  margin-left: 10px;
}
.jsless-dropdown-trigger:checked ~ .jsless-dropdown-content {
  display: block;
}

/* Menu
   ========================================================================== */
.jsless-nav {
  margin-top: 15px;
}
.jsless-nav > ul {
  border-bottom: 1px solid black;
}
@media (min-width: 641px) {
  .jsless-nav > ul {
    display: flex;
    justify-content: space-between;
  }
}
.jsless-nav > ul > li:first-child a {
  padding-left: 0;
}
.jsless-nav > ul > li:last-child a {
  padding-right: 0;
}
.jsless-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jsless-nav a {
  display: block;
  text-decoration: none;
  line-height: 32px;
  white-space: nowrap;
  padding: 15px 0;
}
@media (min-width: 641px) {
  .jsless-nav a {
    padding: 15px;
  }
}
.jsless-nav ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
.jsless-nav ul ul {
  display: none;
  background: #fff;
  padding-left: 10px;
}
@media (min-width: 641px) {
  .jsless-nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
  }
}
.jsless-nav ul ul a {
  line-height: 120%;
}
.jsless-nav ul ul ul {
  top: 0;
  left: 100%;
}
.jsless-nav ul li:hover > ul {
  display: block;
}
.jsless-nav .active {
  font-weight: bold;
}

.has-dropdown .jsless-dropdown-icon {
  margin-left: 10px;
}

/* Carousel
   ========================================================================== */
.jsless-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jsless-carousel-inner {
  flex-grow: 1;
  text-align: center;
}
.jsless-carousel-content {
  display: none;
  width: 100%;
}
.jsless-carousel-button {
  cursor: pointer;
}
.jsless-carousel-trigger:checked ~ .jsless-carousel-content {
  display: block;
}
.jsless-carousel .jsless-icon-arrow-left,
.jsless-carousel .jsless-icon-arrow-right {
  width: 20px;
  height: 20px;
}
.jsless-carousel .jsless-icon-arrow-left:after,
.jsless-carousel .jsless-icon-arrow-right:after {
  width: 10px;
  height: 10px;
}

/* Table
   ========================================================================== */
.jsless-table {
  table-layout: fixed;
  width: 100%;
}
.jsless-table th {
  text-align: left;
}

@media (max-width: 640px) {
  .jsless-responsive-table tr, .jsless-responsive-table th, .jsless-responsive-table td {
    display: block;
  }
  .jsless-responsive-table thead {
    display: none;
  }
  .jsless-responsive-table [data-title]:before {
    content: attr(data-title);
    display: inline-block;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}

/* Tabs
   ========================================================================== */
.jsless-tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.jsless-tabs-item {
  min-height: 180px;
}
.jsless-tabs-content {
  display: none;
  position: absolute;
  left: 0;
  height: 100px;
  overflow-y: auto;
}
.jsless-tabs-label {
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.jsless-tabs-content, .jsless-tabs-label {
  padding: 10px 20px;
}
.jsless-tabs-trigger {
  position: absolute;
  height: 39px;
  opacity: 0;
}
.jsless-tabs-trigger:checked ~ .jsless-tabs-content {
  display: block;
}
.jsless-tabs-trigger:checked ~ .jsless-tabs-label {
  font-weight: bold;
  border: 1px solid black;
  border-bottom: 0;
}

.jsless-tabs-two .jsless-tabs-item,
.jsless-tabs-two .jsless-tabs-trigger {
  width: 50%;
}

.jsless-tabs-three .jsless-tabs-item,
.jsless-tabs-three .jsless-tabs-trigger {
  width: 33.3333333333%;
}

.jsless-tabs-four .jsless-tabs-item,
.jsless-tabs-four .jsless-tabs-trigger {
  width: 25%;
}

/* Modal
   ========================================================================== */
.jsless-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}
.jsless-modal-content {
  width: 640px;
  max-width: calc(100% - 40px);
  min-height: 25vh;
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  box-sizing: border-box;
}
.jsless-modal-header {
  text-align: right;
  padding: 10px;
}
.jsless-modal-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.jsless-modal-close:before, .jsless-modal-close:after {
  left: 0;
}
.jsless-modal-body {
  padding: 0 20px 20px;
}
.jsless-modal :target {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jsless-tooltip {
  position: relative;
  cursor: pointer;
}
.jsless-tooltip:hover:before {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  top: -0.4rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.jsless-tooltip:hover:after {
  content: attr(data-text);
  position: absolute;
  top: -0.4rem;
  left: 50%;
  padding: 0.5rem;
  white-space: nowrap;
  background-color: white;
  border: 1px solid black;
  transform: translate(-50%, -100%);
  z-index: 5;
}
