<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.author }}, {{ site.title }}">
    <meta name="author" content="{{ site.author }}">
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    {% if page.description %}
        {% assign desc = page.description %}
    {% else %}
        {% assign desc = site.description %}
    {% endif %}
    {% if page.url %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% else %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% endif %}
    <meta name="description" content="{{ desc }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/jsless.css">
    {% if site.favicon %}
        <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
        <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
    {% endif %}
</head>
<body>
    <div class="wrapper">
        <div class="navbar container">
            <a class="branding site-title" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            <ul class="horizontal-menu">
                {% for item in site.data.nav %}
                  {% if item.link == page.url %}
                      <li class="horizontal-menu-item active"><a href="{{ item.link }}">{{ item.name }}</a>
                  {% else %}
                      <li class="horizontal-menu-item"><a href="{{ item.link }}">{{ item.name }}</a>
                  {% endif %}
                      </li>
                {% endfor %}
            </ul>
        </div>
        <hr class="divider">
        {% if page.is_contact == true %}
            <div class="container content contact">
                {{ content }}
            </div>
        {% else %}
            <div class="container content">
                {{ content }}
            </div>
        {% endif %}
    </div>
    <script src="{{ site.url }}{{ site.baseurl }}/js/main.js"></script>
</body>
